body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  ---primary: rgba(109, 49, 22, 0.87);
  ---secondary: rgba(255, 212, 124, 0.93);
  ---primary-text: #fff;
  ---image-border-color: #fff;
  ---borderBottom: 2px var(---primary) solid;
}


body {
  background: var(---secondary);
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
